  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới slide
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="slides">Slide</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{slide.Name}}</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddSlide" role="form" ng-submit="AddSlide()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên slide</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required ng-maxlength="256" name="name" ng-model="slide.Name">
                        <span ng-show="frmAddSlide.name.$invalid" class="has-error">* Phải nhập tên slide</span>
                        <span ng-show="frmAddSlide.name.$error.maxlength" class="has-error">* Tên slide chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Đường đẫn Url</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required ng-maxlength="256" name="url"  ng-model="slide.Url">
                        <span ng-show="frmAddSlide.url.$invalid" class="has-error">* Phải nhập url</span>
                        <span ng-show="frmAddSlide.url.$error.maxlength" class="has-error">* Tên url chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <!--<input type="text" class="form-control" name="image" ng-maxlength="256" ng-model="product.Image">
            <span ng-show="frmUpdateProduct.image.$error.maxlength" class="has-error">* Mô tả chỉ được 256 ký tự</span>-->
                        <button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button>
                        <img ng-src="{{slide.Image}}" width="200" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-maxlength="500" ng-model="slide.Description">
                        <span ng-show="frmAddSlide.description.$error.maxlength" class="has-error">* Mô tả chỉ được 500 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Nội dung</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="content" ckeditor="ckeditorOptions" ng-model="slide.Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Thứ tự</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" required name="displayOrder" ng-model="slide.DisplayOrder">
                        <span ng-show="frmAddSlide.displayOrder.$invalid" class="has-error">* Phải nhập thứ tự</span>
                    </div>
                </div>
              
            
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="slide.Status" ng-checked="slide.Status"> Kích hoạt
                            </label>
                        </div>
                    
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="slides" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddSlide.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->